<!DOCTYPE html>
<html class='no-js'>
    <head>
        <meta charset='utf-8'>
        <title>Polaroid Editor</title>

        {% block head %} {% endblock %} 

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        <div class='container' style="margin-top:70px">
            {% include 'includes/_messeges.html' %}
            {% block body %} {% endblock %} 
        </div> 
        
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    </body>
</html>